:root {
    --main--color: #E3B196;
    --background--color: #331D11;
    --secundary--color: #7D685C;
    --terciary--color: #B0A097;
    --text--color: #c9c2c2;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--background--color);
    align-items: center;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    border: 1px inset var(--main--color);
    
    margin-top: 8vh;
    width: 80%;
    box-shadow: 2px 2px 6px var(--main--color);
}

#img--back {
    width: 100%;
    position: relative;
}

.group {
    position: absolute;
    bottom: 15px;
    width: 80%;
}

.input {
    font-size: 20px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 80%;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;

    color: var(--text--color);
}

.input:focus {
    outline: none;
}

.bar {
    position: relative;
    display: block;
    width: 85%;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: var(--secundary--color);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

.input:focus~.bar:before,
.input:focus~.bar:after {
    width: 50%;
}

.highlight {
    position: absolute;
    height: 60%;
    width: 80%;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

.input:focus~.highlight {
    animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
    from {
        background: var(--terciary--color);
    }

    to {
        width: 0;
        background: transparent;
    }
}

.button {
    height: 2em;
    width: 8em;
    border-radius: 0.2em;
    border: 0.1rem solid transparent;
    background-color: var(--terciary--color);
    transition: 0.3s;
    font-size: 1em;

    position: absolute;
    right: 0;
    bottom: 0;
    margin: 15px;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.button:active {
    animation: borderMove 0.5s forwards;
    transform: scale(0.9) rotate(-3deg);
    background-color: rgb(0, 0, 0);
    color: rgba(160, 196, 238, 0.475);
    border: 0.1rem solid var(--secundary--color);
}

@keyframes borderMove {
    0% {
        border-width: 0.1rem;
        transform: scale(1);
    }

    50% {
        border-width: 0.4rem;
        transform: scale(0.9);
    }

    100% {
        border-width: 0.15rem;
        transform: scale(1);
    }
}