:root {
    --main--color: #E3B196;
    --background--color: #331D11;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--background--color);
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    border: 1px inset var(--main--color);
    
    width: 80%;
}

#img--back {
    width: 100%;
    opacity: 0.7;
    box-shadow: 5px 5px 10px var(--main--color);
}

.input {
    position: absolute;
    top: 40;
}